
#galerie
{
    margin: 0;
    padding: 20px;
    background-color: #004560;
    width: 80%;
    min-height: 50px;
    margin: 50px auto 0;
    display: flex;
    flex-wrap: wrap;
	align-items: center;
	justify-content: center; 
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

#galerie .bild
{
    position: relative;
    width: 200px;
    height: 200px;
    background: #d5f4ff;
    margin: 10px;
    overflow: hidden;
	border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 10px;
	
}

#galerie .bild img {
    width: 100%;
     image-rendering: pixelated;
}

#galerie .bild img {
    transition: transform 2s;
    
}

#galerie .bild:hover img {
    transform: scale(1.2);
}


#galeriebereich h2 {
    text-align: center;
    margin-bottom: -1em;
}

