body {
    background-color: #397086;
    /*
    border-style: solid;
    border-width: 20px;
    border-color: #1a1919;
	*/
	color: black;

	font-size: 100%;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    
    margin: 0;
    padding-top: 0;
    margin-left: 8%;
    margin-right: 8%;
	
}

main {
	background: #98b9ef;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
	border-radius: 12px;
    padding: 8%;
	
}





/* CSS des Navigations Menü*/

nav ul {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 5px 0;
    background: #aacedb;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

nav ul li {
    list-style: none;
    text-align: center;
    display: block;
    border-right: 1px solid rgba(0,0,0,0.5);
	border-color: black;
}

ul li:last-child {
    border-right: none;
}


ul li a {
    text-decoration: none;
    padding: 0 50px;
    display: block;
	color: black;
}

ul li a:hover {
    color: #005aff;
    transition: 0.5s;
}

ul li a .nav-icon {
    width: 64px;
    height: 64px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto 10px;
    transition: 0.5s;
}

ul li a:hover .nav-icon {
    border-radius: 12px;
    background-color: rgba(0,0,122,0.3);
    transition: 0.5s;
}

ul li a img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}




/* CSS für die Spielanwendung*/
.spielsektion{
    text-align: center;
}

iframe{
    margin: auto;
    border-style: solid;
    border-width: 20px;
    border-color: white;
}