h1 {
    font-family:arial, lucida console, sans-serif;
    color:black;
    font-size:16pt;  
    font-weight: bold;
}
h3 {
    font-family:arial, lucida console, sans-serif;
    color:black;
    font-size:12pt;  
    font-weight: bold;
}
div {
    font-family:arial, lucida console, sans-serif;
    color:black;  
    font-weight: normal;
}

nav ul {
    border-radius: 0px;
    position: fixed;
    top: 23px;
    font-size: 30px;
    display: flex;
    width: 100%;
    list-style: none;
    text-align: center;
    justify-content: center;
    padding: 0.3em;
}



ul li a:hover {
    color: black;
    transition: 0.5s;
    background-color: rgba(0,0,0,0.4);
}

main {
    margin-top: 90px;
    padding-top: 1em;
}
